<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Orc.CrashReporting.Example\packages.config" />
  <repository path="..\src\Orc.CrashReporting.Providers.Email\Orc.CrashReporting.Providers.Email.NET40\packages.config" />
  <repository path="..\src\Orc.CrashReporting.Providers.Email\Orc.CrashReporting.Providers.Email.NET45\packages.config" />
  <repository path="..\src\Orc.CrashReporting.Tests\Orc.CrashReporting.Tests.NET40\packages.config" />
  <repository path="..\src\Orc.CrashReporting.Tests\Orc.CrashReporting.Tests.NET45\packages.config" />
  <repository path="..\src\Orc.CrashReporting.Xaml\Orc.CrashReporting.Xaml.NET40\packages.config" />
  <repository path="..\src\Orc.CrashReporting.Xaml\Orc.CrashReporting.Xaml.NET45\packages.config" />
  <repository path="..\src\Orc.CrashReporting\Orc.CrashReporting.NET40\packages.config" />
  <repository path="..\src\Orc.CrashReporting\Orc.CrashReporting.NET45\packages.config" />
</repositories>