<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Orc.CrashReporting.Example\packages.config" />
  <repository path="..\src\Orc.CrashReporting.Loggers.Email\packages.config" />
  <repository path="..\src\Orc.CrashReporting.Tests\packages.config" />
  <repository path="..\src\Orc.CrashReporting.Xaml\packages.config" />
  <repository path="..\src\Orc.CrashReporting\packages.config" />
</repositories>